/* Modal default styling - hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal Content box */
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
  }
  
  /* Close button (x) */
  .close {
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  
  /* Styling the form labels */
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  